extends layout/main-layout.pug
block content
    script. 
        let userProfile = "!{profile._id }"
        let selected = "!{selectedTab}"
    .profileHeaderContainer 
        .coverPhoto
            .imgContainer  
                img(src=`${profile.profile}`, alt="user profile image")
                if logedIn == profile._id
                    button(class="profile__upload",data-toggle="modal" data-target="#replyModal")
                        i(class="fa fa-camera")
        .profileBtns 
            if logedIn != profile._id
                a(href="#" class="profileBtn")
                    i(class="far fa-envelope")
                +createFollowingBtn(profile,profile.followers && profile.followers.includes(logedIn))
        .profileInfoContainer 
            .fullName 
                span.displayName #{profile.firstName + " " + profile.lastName} 
                span.username @#{profile.username}
            .followerContainer
                a.following(href=`/profile/${profile.username}/following`)
                    span.value #{`${profile.following ? profile.following.length : 0}`}
                    span.text #{"Following"}
                a.followers(href=`/profile/${profile.username}/followers`)  
                    span.value #{`${profile.followers ? profile.followers.length : 0}`}
                    span.text #{"Follower"}
    .tabContainer
        +createTabs("Post",`/profile/${profile.username}`,selectedTab != "reply")
        +createTabs("Reply",`/profile/${profile.username}/replies`,selectedTab == "reply")
    .postsContainer
block script
   script(src="/js/profile.js")
