extends layout/main-layout.pug
block content
    script. 
        let userProfile = "!{profile._id }"
        let selected = "!{selectedTab}"
    .profileHeaderContainer 
        .coverPhoto

            .coverPhoto__upload
                if logedIn.cover
                    img(src=`${logedIn.cover}`, alt="user cover photo")
                if logedIn._id == profile._id
                    button(class="cover__upload",data-toggle="modal" data-target="#uploadCoverModel")
                        i(class="fa fa-camera")
            .imgContainer  
                img(src=`${profile.profile}`, alt="user profile image")
                if logedIn._id == profile._id
                    button(class="profile__upload",data-toggle="modal" data-target="#uploadModel")
                        i(class="fa fa-camera")
        .profileBtns 
            if logedIn._id != profile._id
                a(href="#" class="profileBtn")
                    i(class="far fa-envelope")
                +createFollowingBtn(profile,profile.followers && profile.followers.includes(logedIn))
        .profileInfoContainer 
            .fullName 
                span.displayName #{profile.firstName + " " + profile.lastName} 
                span.username @#{profile.username}
            .followerContainer
                a.following(href=`/profile/${profile.username}/following`)
                    span.value #{`${profile.following ? profile.following.length : 0}`}
                    span.text #{"Following"}
                a.followers(href=`/profile/${profile.username}/followers`)  
                    span.value #{`${profile.followers ? profile.followers.length : 0}`}
                    span.text #{"Follower"}
    .tabContainer(data-id=logedIn)
        +createTabs("Post",`/profile/${profile.username}`,selectedTab != "reply")
        +createTabs("Reply",`/profile/${profile.username}/replies`,selectedTab == "reply")
    .pinnedPostContainer
    .postsContainer
    +createProfileUpload()
    +createCoverUpload()
    +createReplyForm(logedIn)
    +createPinButton()
    +unconfirmPinModel()
block script
   script(src="/js/profile.js")
