mixin createPostForm(user)
    .postContainer 
        .imgContainer 
            img(src=`${user.profile}`)
        form.postInfo
            .textareaContainer 
                textarea#postTextarea(name="content" placeholder="What is on your mind ?")
                .post-imgs 
                    //- .post-img 
                    //-     img(src="/img/profilepics.jpg", alt="", style="width:150px;height:150px") 
            input(type='hidden' name='createdBy' value=`${user._id}`)
            .toolbar
                .items 
                    .item
                        input(accept="image/*" type='file' name='photos' id="imgInp" multiple)
                        i(class="far fa-image imageUpload")
                    .item
                        i(class="far fa-smile")
                .buttonContainer
                    button#submitPostButton(disabled="") Post

mixin postMixin(logedIn)
    +createReplyForm(logedIn)
    +createPinButton()
    +unconfirmPinModel()     
           
mixin createReplyForm(user) 
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    .post
                    .postContainer 
                        .imgContainer 
                            img(src=`${user.profile}`)
                        form.postInfo
                            .textareaContainer 
                                textarea#replyTextarea(name="content" placeholder="What is on your mind ?")
                    

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#replyBtn.btn.btn-primary(type='button' disabled ="") Reply

mixin createFollowingBtn(user,isFollowing)
    - text = isFollowing ? "Following" : "follow"
    - btnClass = isFollowing ? "followBtn following" : "followBtn"
    button(class=`${btnClass}` data-id=`${user._id}`) #{text}


mixin createTabs(name,href,isSelected)
    - className = isSelected ? "tab tab-active":"tab"
    a(href=`${href}` class=`${className}`) 
        span #{name}

mixin createProfileUpload() 
    #uploadModel.modal.fade(tabindex='-1' role='dialog' aria-labelledby='uploadModelLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#uploadModelLabel.modal-title Upload a new profile picture
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    form.uploadProfilePhoto
                        input(type="file" id="uploadProfile")
                        label(name="content" for="uploadProfile") Upload 
                            i(class="fa fa-camera")
                    .previewImgContainer
                        img#previewImg()
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#uploadBtn.btn.btn-primary(type='button') save

mixin createCoverUpload() 
    #uploadCoverModel.modal.fade(tabindex='-1' role='dialog' aria-labelledby='uploadCoverModelLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#uploadCoverModelLabel.modal-title Upload a new cover picture
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    form.uploadProfilePhoto
                        input(type="file" id="uploadCover")
                        label(name="content" for="uploadCover") Upload 
                            i(class="fa fa-camera")
                    .previewImgContainer
                        img#coverpreviewImg()
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#uploadCoverBtn.btn.btn-primary(type='button') save



mixin createPinButton() 
    #confirmPinModel.modal.fade(tabindex='-1' role='dialog' aria-labelledby='confirmPinModelLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#confirmPinModel.modal-title Pin this post ?
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .model-body
                    p This post will appear at the top of the page.You can only pin one post.
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#confirmPinBtn.btn.btn-primary(type='button') Pin
mixin unconfirmPinModel() 

    #unconfirmPinModel.modal.fade(tabindex='-1' role='dialog' aria-labelledby='unconfirmPinModelLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#unconfirmPinModel.modal-title unpin this post ?
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .model-body
                    p This will unpin this post.
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#unconfirmPinBtn.btn.btn-primary(type='button') Unpin
