mixin createPostForm(user)
    .postContainer 
        .imgContainer 
            img(src=`${user.profile}`)
        form.postInfo
            .textareaContainer 
                textarea#postTextarea(name="content" placeholder="What is on your mind ?")
                .post-imgs 
                    //- .post-img 
                    //-     img(src="/img/profilepics.jpg", alt="", style="width:150px;height:150px") 
            input(type='hidden' name='createdBy' value=`${user._id}`)
            .toolbar
                .items 
                    .item
                        input(accept="image/*" type='file' name='photos' id="imgInp" multiple)
                        i(class="far fa-image imageUpload")
                    .item
                        i(class="far fa-smile")
                .buttonContainer
                    button#submitPostButton(disabled="") Post
                    
mixin createReplyForm(user) 
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    .post
                    .postContainer 
                        .imgContainer 
                            img(src=`${user.profile}`)
                        form.postInfo
                            .textareaContainer 
                                textarea#replyTextarea(name="content" placeholder="What is on your mind ?")
                    

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#replyBtn.btn.btn-primary(type='button' disabled ="") Reply

mixin createFollowingBtn(user,isFollowing)
    - text = isFollowing ? "Following" : "follow"
    - btnClass = isFollowing ? "followBtn following" : "followBtn"
    button(class=`${btnClass}` data-id=`${user._id}`) #{text}


mixin createTabs(name,href,isSelected)
    - className = isSelected ? "tab tab-active":"tab"
    a(href=`${href}` class=`${className}`) 
        span #{name}

